.box-main {
  background-color: rgb(168, 170, 163, 0.1);
  height: 550px;
  width: 350px;
  border: black solid 3px;
  border-width: 4px;
  margin-top: 40px;
  margin-left: 20px;
  border-style: solid;
}

.profile {
  height: 275px;
  width: 350px;
}
.profile-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bottom {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  display: grid;
}

p {
  /* font-family: sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 30px;
  margin: 5px;
  font-size: 15px;
}

.tags-block {
  display: flex;
  align-content: normal;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tag-name {
  background-color: rgb(71, 108, 218);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  align-items: center;
  font-family: monospace;
  height: 8px;
  width: auto;
}

.tag-emoji {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  align-items: center;
  filter: brightness(0) saturate(100%) invert(91%) sepia(48%) saturate(1273%)
    hue-rotate(347deg) brightness(110%) contrast(87%);
}

.tags-block-item {
  display: flex;
}
